PORT=5000
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=your_password_here
DB_SSL=false
N8N_WEBHOOK_URL=https://rpaxai.urmo.psu.ac.th/n8n/webhook/21c6544a-7af4-4b9b-ab08-6ab41456a75d
